.canvas-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.draw-canvas {
    width: 100%;
    height: 100%;
}

canvas[resize] {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
    z-index: 5;
}


#UIModes {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    overflow: hidden;
}

#UIModes button {
    height: 70px;
    width: 70px;
    margin: 4px;
    font-size: 14px;
}

#SettingsButton, #UIModes button {
    height: 70px;
    width: 70px;
    margin: 4px;
    font-size: 14px;
}

#DrawSettings {
    position: absolute;
    right: 20px;
    bottom: 10px;
    width: 300px;
}

#UserSettings {
    position: absolute;
    right: 20px;
    top: 20px;
}

#SelectBlue {
    background-color: blue;
}

#SelectBlack {
    background-color: black;
}

#SelectGreen {
    background-color: green;
}

#SelectRed {
    background-color: red;
}

#ColorButtons Button {
    width: 40px;
    height: 40px;
}

#StrokeWidthRange {
    width: 90%;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* hide spinner on number input */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}



input[type=checkbox]
{
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    padding: 10px;
}